{% extends 'tienda/base.html' %}

{% block title  %}
    Categoria de Productos
{% endblock title %}

{% block contenido %}

    <h1>Categoria de Productos</h1>
    <div class="d-grid gap-4">
        <form action="{% url 'producto:productocategoria_list' %}" method="get">
            
            <input type="text" name="consulta" placeholder="Buscar...." >
            
            <button type="submit">Buscar</button>
        </form>
    </div>


    {% for object in  object_list %}

    <ul>
  
        <li>{{object.nombre}}
            
        <a href="{% url 'producto:producto_categoria_detalles' object.id %}">Ver en detalle</a>
        <a href="{% url 'producto:producto_categoria_update' object.id %}">Editar</a>
        <a href="{% url 'producto:producto_categoria_delete' object.id %}">Eliminar</a>

         </li>

    </ul>

    {% endfor %}

{% endblock contenido %}