{% extends 'tienda/base.html' %}

{% block contenido %} 

    <div class=" display-1 mb-5 mt-3" style="font-family: monospace" >
        <h3>
           <h4>Mi_Primer_Entrega_Rafael_Ivan_Acevedo</h4> 
           <h4>Comision: 56060</h4>
           <h4>  </h4>
           <h4>Este proyecto fue realizado para el curso de Python de CoderHouse</h4>
           <h4>Creado por: Rafael Ivan Acevedo</h4>
                   
           <div class="d-flex">
            <h4>numero de contacto: </h4>
            <a class="btn btn-success ms-2" href="https:/wa.me/543815495052" target="_blank">WhatsApp</a> <!-- Botón de WhatsApp con margen a la izquierda -->
        </div>
         </h3>
        
    </div>
    <button><a href="{% url 'index' %}">Inicio</a></button>
{% endblock contenido %}

