

{% extends 'tienda/base.html' %}

{% load static %}

 {% block contenido %}

 <h1> Pagina principal</h1>
{% if mensaje %}
 
    {{mensaje}}
    
{% endif  %}

    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'tienda/imagen/mercado.jpg' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Ingrese al mercado o cree un nuevo usuario </h1>
          
            <div class="d-flex align-items-start"> 
             
                <div class="btn-group" role="group" aria-label="Botones de acción"></div>

                <li class="btn btn-primary me-2"><a class="nav-link {% if request.resolver_match.view_name == 'Login' %}active{% endif %}" href="{% url 'Login' %}">Inicio de sesión  </a></li>

                <li class="btn btn-warning me-2"><a class="nav-link {% if request.resolver_match.view_name == 'Registro' %}active{% endif %}" href="{% url 'Registro' %}">Registrar</li>
            </div>
           
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">bienvenido al sito de compra venta </p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        
        {% include 'tienda/tarjeta.html' with titulo="Tarjeta" texto="Texto de la tarjeta" %}
        {% include 'tienda/tarjeta.html' %}
        {% include 'tienda/tarjeta.html' %}
        {% include 'tienda/tarjeta.html' %}
        
    </div>
</div>
 {% endblock contenido %}
  