{% extends 'core/base.html' %}

{% block title %}
    Coderhouse | Login
{% endblock title %}
    

{% block content %}

<div class="container">
    <h1 class="mt-4">Login</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{% url 'tienda:base' %}">

      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      <a href="{% url 'producto:productocategoria_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>

{% endblock %}